/* Font */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Variable */

:root {
    --blue: cyan;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #0d0d0d;
    color: white;
}

html {
    scroll-behavior: smooth;
    
    
}

::-webkit-scrollbar {
    display: none;
}

.navbar {
    width: 100%;
    padding: 15px 0;
    background-color: #151515;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    color: white;
    transition: 0.3s;
}

.logo a:hover {
    color: var(--blue);
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-links > li > .active {
    color: var(--blue);
}

.nav-links li {
    margin-left: 30px;
}

.nav-links li a {
    text-decoration: none;
    font-size: 16px;
    color: white;
    font-weight: 600;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: var(--blue);
}

.cta {
    display: flex;
    align-items: center;
}

.btn-connect {
    background-color: #7289da;
    color: #fff;
    border: none;
    padding: 10px 30px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    border: solid 2px transparent;
    transition: 0.3s;
    font-weight: 600;
    
    font-family: 'Montserrat', sans-serif;
}

.btn-connect:hover {
    box-shadow: #7289da 0px 0px 10px 0px;
}

/* Title */

.title {
    margin-top: 200px;
    text-align: center;
}

.title > h1 {
    font-size: 60px;
    font-weight: 800;
}


/* Main */

.flexbox {
    height: 25vh;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.flexbox > .item {
    text-align: center;
}

.flexbox > .item > img {
    width: 75px;
    height: 75px;
}

.flexbox > .item > .content > button {
    margin-top: 15px;
    width: 175px;
    height: 50px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    border: solid 1px gray;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.flexbox > .item > .content > button:hover {
    background-color: white;
    color: black;
    border: solid 1px white;
}

/* Footer */

.footerflex {
    margin-top: 50vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 25px;
    gap: 25px;
}

.footerflex > .item:nth-child(1) {
    padding-top: 15px;
}

.footerflex > .item:nth-child(2) {
    padding-top: 15px;
    margin-left: 100px;
}

.footerflex > .item {
    color: black;
}

.footerflex > .item > a:nth-child(1) {
    color: black;
    font-size: 17px;
    font-weight: 700;
    border-bottom: solid 2px black;
    text-decoration: none;
}

.footerflex > .item > p {
    color: black;
    font-size: 17px;
    font-weight: 700;
}

.footerflex > .item > .reseau > a > img {
    width: 35px;
    height: 35px;
    border-bottom: none;
}

.footerflex > .item > .reseau {
    text-decoration: none;
}

/* FlexBase */

main {
    display: grid;
    justify-content: center;
    text-align: center;
}

.flexbase {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.item > button, .flexbase > .item > .dropdown > .dropdown-content > button {
    width: 150px;
    height: 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    cursor: pointer;
    border: solid 1px white;
    background-color: transparent;
    color: white;
    border-radius: 5px;
    font-size: 16px;
}


.item > button:hover, .flexbase > .item > .dropdown > .dropdown-content > button:hover {
    border: solid 1px white;
    background-color: white;
    color: black;
}

/* DropDown */

.dropbtn {
    width: 150px;
    height: 60px;
    font-size: 16px;
    border: solid 1px white;
    background-color: transparent;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  

  
.dropdown-content a:hover {background-color: #f1f1f1}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropdown:hover .dropbtn {
    background-color: white;
    color: black;
    border: solid 1px white;
}
























@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .navbar {
        justify-content: space-between;
    }

    .cta {
        margin-left: auto;
    }

    /* Footer */

    .footerflex {
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: space-around;
        padding: 25px;
        gap: 10px;
    }
    
    .footerflex > .item:nth-child(1) {
        padding-top: 15px;
        display: none;
    }
    
    .footerflex > .item:nth-child(2) {
        padding-top: 15px;
        margin-left: 0px
    }
    
    .footerflex > .item {
        color: black;
    }
    
    .footerflex > .item > a:nth-child(1) {
        color: black;
        font-size: 17px;
        font-weight: 700;
        border-bottom: solid 2px black;
        text-decoration: none;
    }
    
    .footerflex > .item > p {
        color: black;
        font-size: 17px;
        font-weight: 700;
    }
    
    .footerflex > .item > .reseau > a > img {
        width: 35px;
        height: 35px;
        border-bottom: none;
    }
    
    .footerflex > .item > .reseau {
        text-decoration: none;
    }

}